body {
    background-color: #cdcdcd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color:#447938; */
}

main {
    background-color: #004444;
    position: absolute;
    left:100px;
    width:calc(100% - 200px);
    padding:100px;
    box-sizing: border-box; 
}

#box_1 {
    background-color: #993333;
    height:50px;
    width:100px; 
    margin-bottom: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

#box_2 {
    background-color: #339933;
    height:50px;
    width:100px;
    margin-bottom: 10px;
}

#box_3 {
    background-color: #333399;
    height:50px;
    width:100px;
    margin-bottom: 10px;
}

#box_4 {
    background-color: #999999;
    height:50px;
    width:100px;
    margin-bottom: 10px;
}