@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    background-color: #cdcdcd;
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#447938; */
    margin:0;
}

header {
    background-color: #19314d;
    display:flex;
    justify-content: center;
    height:60px;
    align-items: center;
}

a {
    color:#999999;
}

a:hover {
    color:#666666;
}


i.fa.fa-github{
    font-size: 2em;
} 

#logo:hover {
    font-size:1.5em;
    opacity: 0.7;
}

#logo {
    width:180px;
    display:flex;
    box-sizing: border-box;
    padding: 0 0 0 30px;
    transition: 0.7s ease;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav i {
    padding: 0 10px 0 0;
}

nav a {
    color: #ededed;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}


nav ul {
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}

#social_link {
    width: 180px;
    display:flex;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 0 30px;
}

main {
    background-image: url("https://images3.alphacoders.com/853/thumb-1920-85305.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3B536F;
    position: absolute;
    left:100px;
    width:calc(100% - 200px);
    padding:100px;
    box-sizing: border-box; 
}

#box_container {
    display:flex;
    justify-content: center;
}

#box_container img {
    transition: 0.5s ease;
    height:100px;
    width:100px;
    object-fit: cover;
}

#box_container img:hover {
    filter: grayscale(100%);
    
}

#container {
    display:flex;
    flex-flow: row wrap;
    width:220px;
}

#box_1, #box_2, #box_3, #box_4 {
    height:100px;
    width:100px;
    box-sizing: border-box; 
    margin: 0 10px 10px 0;
    
}

#box_1:hover {
    box-shadow: 2px 2px 3px #993333; 
}

#box_1 {
    background-color: #993333;
    transition: 0.5s ease;

}

#box_2 {
    background-color: #339933;
}

#box_3 {
    background-color: #333399;
}

#box_4 {
    background-color: #999999;
    opacity: 0.7;
}