@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    background-color: #cdcdcd;
    font-family: 'Open Sans Condensed', sans-serif;
    /* color:#447938; */
    margin:0;
}

header {
    background-color: #19314d;
    display:flex;
    justify-content: center;
    height:60px;
    align-items: center;
}

a {
    color:#999999;
}

a:hover {
    color:#666666;
}

  
i.fa.fa-github{
    font-size: 2em;
} 

#logo:hover {
    font-size:1.5em;
    opacity: 0.7;
}

#logo {
    width:180px;
    display:flex;
    box-sizing: border-box;
    padding: 0 0 0 30px;
    transition: 0.7s ease;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav i {
    padding: 0 10px 0 0;
}

nav a {
    color: #ededed;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}


nav ul {
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}

#social_link {
    width: 180px;
    display:flex;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 0 30px;
}

main {
    background-image: url("https://images3.alphacoders.com/853/thumb-1920-85305.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3B536F;
    height: 400px;
    padding:100px;
    box-sizing: border-box; 
}

#box_container {
    display:flex;
    justify-content: center;
}

#box_container img {
    transition: 0.5s ease;
    height:100px;
    width:100px;
    object-fit: cover;
}

#box_container img:hover {
    filter: grayscale(100%);
    
}

#container {
    display:flex;
    flex-flow: row wrap;
    width:220px;
}

#box_1, #box_2, #box_3, #box_4 {
    height:100px;
    width:100px;
    box-sizing: border-box; 
    margin: 0 10px 10px 0;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: absolute;
}

#box_1:hover {
    box-shadow: 2px 2px 3px #993333; 
}

#box_1 {
    background-color: #993333;
    transition: 0.5s ease;
    z-index:1;
    margin:0 0 0 40px;
}

#box_2 {
    background-color: #339933;
    z-index: 2;
    margin: 0 0 0 120px;
}

#box_3 {
    background-color: #333399;
    z-index: 3;
    margin:105px 0 0 15px;
}

#box_4 {
    background-color: #999999;
    opacity: 0.7;
    z-index:4;
    margin: 105px 0 0 95px;
}

footer {
    padding-top:30px;
    color:#ededed;
    height:300px;
    background-color: #524B41;
    display: flex; 
    justify-content: center;
}

footer h3, footer p {
    margin:0;
    padding:0;
}
footer h3{
    margin-bottom:10px;
    color:#bbbbbb;
    text-shadow: 1px 1px 0px #777777;
} 

#footer_container {
    width:90%;
    display:flex;
    justify-content: center;
    flex-direction:column;
}

#footer_top p, #footer_top h2 {
    display: flex;
    justify-content: center;
    margin:0;

}

#footer_bottom {
    margin:40px 0 0 0;
    display: flex;
   
   
}

#footer_box {
    border: 1px solid #ededed;
    flex:1;  /* create equal space for all 4 boxes */ 
    box-sizing: border-box; 
    padding:20px;
}

#footer_box:not(:last-child) {
    border-right:none;
}

#footer_social_box {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
   
}

#footer_social_box a {
    margin-left:5px;
    padding: 8px 0 0 12px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

}

#footer_text {
    margin: 15px 0 0 0;
    font-size: 9px;
    display: flex;

}


#footer_text p {
    flex:1;
}
#footer_text p:nth-child(2) {
    
    text-align: center;
}
#footer_text p:last-child {
    
    text-align: right;
}
